src/flows/Baby_Tracker_2_0.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Diaper_or_Feeding</name>
        <label>Diaper or Feeding?</label>
        <locationX>327</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Journal_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Feeding</defaultConnectorLabel>
        <rules>
            <name>Diaper_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Diaper_Change_Entry</targetReference>
            </connector>
            <label>Diaper Change</label>
        </rules>
    </decisions>
    <interviewLabel>Baby Tracker 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Baby Tracker 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Journal_Entry</name>
        <label>Create New Feeding</label>
        <locationX>671</locationX>
        <locationY>688</locationY>
        <assignRecordIdToReference>LastFeeding</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Latest_Feeding</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>Journal_Entry_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Journal_Entry_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Feeding</stringValue>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Diaper_Change</name>
        <label>New Diaper Change</label>
        <locationX>661</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Latest_Diaper_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Dirty_Wet__c</field>
            <value>
                <elementReference>Wet_Dirty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Diaper_Change_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Diaper Change</stringValue>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Latest_Diaper_Change</name>
        <label>Get Latest Diaper Change</label>
        <locationX>189</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Home_Screen</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Diaper Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Feeding</name>
        <label>Get Latest Feeding</label>
        <locationX>187</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Home_Screen</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feeding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Diaper_Change_Entry</name>
        <label>Diaper Change Entry</label>
        <locationX>663</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Diaper_Change</targetReference>
        </connector>
        <fields>
            <name>Diaper_Change_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Diaper Change Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WetDirty</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Wet or Dirty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Dirty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Wet</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>displays most recent feeding time, diaper change, and ability to launch new journal entry</description>
        <name>Home_Screen</name>
        <label>Home Screen</label>
        <locationX>187</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Diaper_or_Feeding</targetReference>
        </connector>
        <fields>
            <name>Last_Entry</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(221, 21, 148); font-size: 20px; font-family: garamond;&quot;&gt;&lt;i&gt;Teressa Joy&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Last feeding: &lt;b&gt;{!Get_Latest_Feeding.Start_Time__c}&lt;/b&gt; for &lt;b&gt;{!Get_Latest_Feeding.Duration__c} &lt;/b&gt;minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntryType</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Diaper Change</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Entry type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Feeding</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Captures New Journal Entry for feeding</description>
        <name>Journal_Entry</name>
        <label>Feeding Entry</label>
        <locationX>670</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Journal_Entry</targetReference>
        </connector>
        <fields>
            <name>Journal_Entry_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Feeding Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Journal_Entry_End_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Feeding End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>33</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Home_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LastFeeding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Wet_Dirty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>WetDirty.value</elementReference>
        </value>
    </variables>
</Flow>
